.country-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.card {
background-color: transparent;
  margin: 20px;
}

.card>img {
  width: 300px;
  height: 200px;
  object-fit: cover;

}


.dark {
  background-color: rgb(48, 46, 46);
  color: white;
}